<html>
  {%load static%}
   <head><title>CULTURES</title>
     <link href="{%static 'style.css'%}" rel="stylesheet" type="text/css" />
   </head>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="About.html"> about</a></li>
        <li><a href="Attraction.html">attraction</a></li>
        <li><a href="Culture.html">culture</a></li>
        <li><a href="Events.html">events</a></li>
        <li><a href="Cuisine.html">cuisine</a></li>
        <li><a href="Blog.html">blog</a></li>

    body {
      background-color: var(--background-green);
      color: #333;
    }

    .culture-section {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      padding: 30px;
      margin-bottom: 30px;
    }

  </body>
</html>
